**/*/Gemfile.lock

__pycache__
__init__.py
ruby/7/mongo/
**/*.dump
**/*.mat
**/*.pickle
**/*.pkl

# 重いので
data/enwiki-20150112-400*

# 分割してgit管理している
output/81.txt
output/82.txt
output/83-tc.txt
output/90.txt
